<div class="flex gap-3 sm:gap-4 md:gap-6 items-center flex-col w-full text-theme-gray">
  <button autofocus class="flex items-center gap-2 md:gap-4 focus:text-theme-orange focus:ring-1 md:focus:ring-2 ring-theme-orange rounded-3xl pl-3  p-[2px] justify-start w-full cursor-pointer">
    <span class="material-symbols-rounded text-xl sm:text-2xl md:text-3xl filled" >
      schedule
    </span>
    <p class="md:font-semibold font-medium tracking-normal md:tracking-wide">Browse</p>
  </button>
  <button class="flex items-center gap-2 md:gap-4 focus:text-theme-orange focus:ring-1 md:focus:ring-2 ring-theme-orange rounded-3xl pl-3  p-[2px] justify-start w-full cursor-pointer">
    <span class="material-symbols-rounded text-xl sm:text-2xl md:text-3xl filled" >
      favorite
    </span>
    <p class="md:font-semibold font-medium tracking-normal md:tracking-wide">Watch List</p>
  </button>
  <button class="flex items-center gap-2 md:gap-4 focus:text-theme-orange focus:ring-1 md:focus:ring-22 ring-theme-orange rounded-3xl pl-3  p-[2px] justify-start w-full cursor-pointer">
    <span class="material-symbols-rounded text-xl sm:text-2xl md:text-3xl filled" >
      calendar_month
    </span>
    <p class="md:font-semibold font-medium tracking-normal md:tracking-wide">Coming Soon</p>
  </button>

</div>

