<div class="flex relative flex-col gap-4 sm:gap-5 md:gap-6">
  <div class="flex gap-4 sm:gap-5 md:gap-6 flex-col h-[314px] overflow-x-auto">
    <div class="flex items-center gap-2 md:gap-3" *ngFor="let avatar of avatars">
      <div class="relative h-7 md:h-8 w-7 md:w-8 rounded-full">
        <img class="absolute object-cover rounded-full" src="{{avatar.avatarImg}}" alt="">
      </div>
      <p class="font-medium tracking-wide text-theme-gray">{{avatar.avatarName}}</p>
      <span class="flex-1"></span>
      <span [ngClass]="{ hidden : !avatar.onlineStatus}" class="h-2 w-2 bg-theme-green rounded-full"></span>
      <span [ngClass]="{ hidden : avatar.onlineStatus}" class="material-symbols-rounded text-theme-text-white text-base">
        wifi
      </span>
    </div>
    <div #target></div>
  </div>

  <div class="flex items-center gap-3 group hover:ring-2 ring-theme-orange rounded-2xl cursor-pointer p-[2px] no-selection"
  (click)="scroll(target)">
    <div class="h-8 w-8 rounded-full group-hover:bg-theme-orange flex items-center justify-center">
      <span class="material-symbols-rounded text-theme-orange group-hover:text-theme-text-white">
        keyboard_arrow_down
      </span>
    </div>
    <p class="text-sm font-medium tracking-wide group-hover:text-theme-text-white text-theme-gray">Load more</p>
  </div>
</div>
