<div class="flex flex-col gap-7">
  <div class="flex gap-6 flex-col h-[260px]">
    <div class="flex items-center gap-3" *ngFor="let avatar of avatars">
      <div class="relative h-8 w-8 rounded-full">
        <img class="absolute object-cover rounded-full" src="{{avatar.avatarImg}}" alt="">
      </div>
      <p class="font-medium tracking-wide text-theme-gray">{{avatar.avatarName}}</p>
      <span class="flex-1"></span>
      <span [ngClass]="{ hidden : !avatar.onlineStatus}" class="h-2 w-2 bg-theme-green rounded-full"></span>
      <span [ngClass]="{ hidden : avatar.onlineStatus}" class="material-symbols-rounded text-theme-text-white text-base">
        wifi
      </span>
    </div>
  </div>

  <div class="flex items-center gap-6 mt-6">
    <div class="h-8 w-8 rounded-full bg-theme-orange flex items-center justify-center">
      <span class="material-symbols-rounded text-theme-text-white">
        keyboard_arrow_down
      </span>
    </div>
    <p class="text-sm font-medium tracking-wide text-theme-gray">Load more</p>
  </div>
</div>
