<div class="mt-8 relative h-[calc(100vh-160px)] w-full rounded-md overflow-hidden flex items-center justify-center" *ngIf="movieDetails | async as detail">
  <img src="{{base_img}}/{{detail.backdrop_path}}" class="absolute w-full h-full object-cover blur-md" alt="">

  <div class="w-5/6 h-[90%] md:w-3/4 md:h-4/6 z-10 rounded-2xl overflow-hidden flex flex-col lg:flex-row md:relative">
    <span class="material-symbols-rounded absolute z-20 top-4 md:top-8 right-4 md:right-8 text-white active:text-theme-orange lg:text-white/70 lg:hover:text-white cursor-pointer" routerLink="/">
      cancel
    </span>

    <div class="lg:w-3/4 h-full w-full relative">
      <img src="{{base_img}}/{{detail.backdrop_path}}" class="absolute w-full h-full object-cover" alt="">
    </div>

    <!-- details -->
    <div class="w-full h-1/2 lg:h-full bg-black">
      <div class="w-full h-full bg-gradient-to-l from-theme-orange/70 to-theme-orange/40 p-3 md:px-12 md:py-16 text-white">
        <p class="md:text-3xl text-xl sm:text-2xl font-extrabold font-sans first-letter:text-red-600 "> {{detail.name|titlecase}}{{detail.title|titlecase}}</p>
        <div class="flex gap-3 mt-1 sm:mt-2 md:mt-4 items-center text-gray-400 font-semibold">
          <p >{{detail.release_date || detail.last_air_date}}</p>
          <p class="border-l-4 pl-3 rounded-sm border-theme-orange ">2h 14m</p>
          <p class="border-l-4 border-r-4 px-3 border-theme-orange rounded-2xl text-white">{{ detail.original_language | uppercase }}</p>
        </div>
        <div class="mt-2 md:mt-3 flex gap-1 md:gap-2">
          <div class="w-fit px-2 py-1 text-xs md:text-sm bg-theme-orange rounded-md" *ngFor="let genre of genres" >
            {{ genre.name }}
          </div>
        </div>
        <div class="mt-2 sm:mt-4 md:mt-8 flex gap-4 sm:gap-5 md:gap-6 justify-center">
          <div class="flex items-center gap-2 sm:gap-3 md:gap-4">
            <p class="text-base sm:text-lg md:text-xl font-bold">User Score</p>
            <div class="relative scale-75 sm:scale-90 md:scale-100">
              <p class="absolute top-3 left-2 text-theme-text-white font-medium">{{math.floor(detail.vote_average*10)}}%</p>
              <svg class="rotate-[-90deg]" width="47px" height="47px" viewBox="0 0 100 100">
                <circle cx="52" cy="52" r="48" fill="transparent" [attr.stroke]="ratingcolor2(detail.vote_average*10)" [attr.stroke-dasharray] = "314" stroke-width="9" class="scale-[0.95]"/>
                <circle cx="52" cy="52" r="48" fill="transparent" [attr.stroke]="ratingcolor(detail.vote_average*10)" [attr.stroke-dashoffset] = "(3.14*(100-detail.vote_average*10))" [attr.stroke-dasharray] = "314" stroke-width="9" stroke-linecap="round" class="scale-[0.95]"/>
              </svg>
            </div>
          </div>
          <div class="text-gray-400 text-sm sm:text-base border-l-4 border-theme-orange pl-4 sm:pl-5 md:pl-6 rounded-[3px] flex flex-col gap-1">
            <div class="flex sm:gap-1">
              <p class="font-medium">Rating : </p>
              <p class="text-yellow-300/90 font-medium">{{ detail.vote_average | number : '1.1-1' }}</p>
            </div>
            <div class="flex gap-1">
              <p class="font-medium">Popularity : </p>
              <p class="text-yellow-300/90 font-medium">{{ detail.popularity | number: '1.0-0' }}</p>
            </div>
            <div class="flex gap-1">
              <p class="font-medium">Votes : </p>
              <p class="text-yellow-300/90 font-medium">{{ detail.vote_count }}</p>
            </div>
          </div>
        </div>
        <p class="mt-1 sm:mt-2 md:mt-4 text-yellow-300/90 text-lg font-semibold underline decoration-[3px] decoration-theme-orange tracking-wide">Overview</p>
        <div class="mt-1 h-[30%] overflow-x-auto">
          <p class="text-xs sm:text-sm md:text-base font-medium tracking-wide"> {{detail.overview}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
