
<div class="flex gap-6 items-center flex-col w-full">
  <button class="flex items-center gap-4 justify-start w-full group">
    <span class=" material-symbols-rounded text-theme-gray group-hover:text-theme-orange group-focus:text-theme-orange text-3xl filled">
      schedule
    </span>
    <p class="font-semibold tracking-wide text-theme-gray group-hover:text-theme-text-white group-focus:text-theme-text-white">Browse</p>
  </button>
  <button class="flex items-center gap-6 justify-start w-full group">
    <span class="material-symbols-rounded  text-theme-gray group-hover:text-theme-orange group-focus:text-theme-orange text-3xl filled">
      favorite
    </span>
    <p class="font-semibold tracking-wide text-theme-gray group-hover:text-theme-text-white group-focus:text-theme-text-white">Watch List</p>
  </button>
  <button class="flex items-center gap-6 justify-start w-full group">
    <span class="material-symbols-rounded  text-theme-gray group-hover:text-theme-orange group-focus:text-theme-orange text-3xl filled">
      calendar_month
    </span>
    <p class="font-semibold tracking-wide text-theme-gray group-hover:text-theme-text-white group-focus:text-theme-text-white">Coming Soon</p>
  </button>
</div>

