<div class="flex items-center h-16 md:ml-8 scale-90 md:scale-100 mt-2 md:mt-6">

  <button mat-icon-button class="md:hidden ring-1 ring-theme-text-white active:ring-theme-text-white/70 p-0 mr-2 flex items-center justify-center" (click)="onOpen(toggleValue)">
    <svg class="h-8 w-8 text-theme-orange" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="14.4" fill="" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 18H10" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> <path d="M4 12L16 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> <path d="M4 6L20 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path> </g></svg>
  </button>

  <form class="relative mx-auto w-max" (ngSubmit)="onSubmit()">
    <input [(ngModel)]="movieName" type="search" name="searching" class="peer text-theme-text-white cursor-pointer relative z-10 h-12 rounded-full border bg-transparent pl-12 outline-none focus:w-full w-full focus:cursor-text focus:border-theme-orange focus:pl-16 md:pl-16 focus:pr-4 md:pr-4" placeholder="search a movie" />
    <svg  xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-theme-text-white px-3.5 peer-focus:border-theme-orange peer-focus:stroke-theme-orange" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
  </form>

  <span class="md:flex-1"></span>
  <div class="flex items-center justify-center gap-8 ">
    <div class="relative mt-1 hidden lg:block">
      <span class=" material-symbols-rounded transform -scale-x-100 text-theme-text-white text-3xl">
        chat
      </span>
      <span class="h-2 w-2 bg-theme-orange rounded-full absolute top-1 left-6"></span>
    </div>
    <div class="relative hidden lg:block">
      <span class="material-symbols-rounded text-theme-text-white text-3xl">
        notifications
      </span>
      <span class="h-2 w-2 bg-theme-orange rounded-full absolute top-2 left-[18px]"></span>
    </div>
    <div class="h-12 w-12 rounded-full bg-gradient-to-r from-red-800 to-white flex items-center justify-center ml-2 md:ml-0">
      <div class="relative h-11 w-11 border-[3px] border-black rounded-full">
        <img src="https://i.pravatar.cc/150?img=55" class="object-cover absolute rounded-full" alt="">
      </div>
    </div>

  </div>
</div>





<!-- <div class="flex gap-4">
  <span class="material-symbols-rounded rounded-full text-theme-gray active:text-theme-text-white active:ring-2 active:ring-theme-text-white no-selection">
    chevron_left
  </span>
  <span class="material-symbols-rounded rounded-full text-theme-gray active:text-theme-text-white active:ring-2 active:ring-theme-text-white no-selection">
    chevron_right
  </span>
</div> -->
  <!-- <div class="h-[80%] flex items-center gap-4 group">
  <input class="scale-105 bg-transparent border-none !outline-none text-theme-text-white" matInput placeholder="eg: Avatar">
  <span class="material-symbols-rounded rounded-full ring-2 ring-theme-gray group-hover:ring-white cursor-pointer text-theme-gray  group-hover:text-white h-10 w-10 focus:w-48 text-3xl flex items-center justify-center">
    search
  </span>
</div> -->
