<div class="flex items-center h-16 ml-8 ">
  <div class="flex gap-4">
    <span class="material-symbols-rounded text-theme-text-white">
      chevron_left
    </span>
    <span class="material-symbols-rounded text-theme-gray">
      chevron_right
    </span>
  </div>
  <div class="ml-8  h-full rounded-full border-2 border-theme-gray/100 flex items-center gap-12 px-8">
    <span class="material-symbols-rounded text-theme-gray text-4xl">
      search
    </span>
    <input class="scale-125 bg-transparent border-none !outline-none text-theme-text-white" matInput placeholder="eg: Avatar">
    <span class="material-symbols-rounded rotate-90 text-theme-gray text-4xl">
      discover_tune
    </span>
  </div>
  <span class="flex-1"></span>
  <div class="flex items-center justify-center gap-8">
    <div class="relative">
      <span class=" material-symbols-rounded transform -scale-x-100 text-theme-text-white text-4xl">
        chat
      </span>
      <span class="h-2 w-2 bg-theme-orange rounded-full absolute top-1 left-7"></span>
    </div>
    <div class="relative mb-1">
      <span class="material-symbols-rounded text-theme-text-white text-4xl">
        notifications
      </span>
      <span class="h-2 w-2 bg-theme-orange rounded-full absolute top-2 left-5"></span>
    </div>
    <div class="h-[62px] w-[62px] rounded-full bg-gradient-to-r from-red-800 to-white flex items-center justify-center">
      <div class="relative h-14 w-14 border-4 border-black rounded-full">
        <img src="https://i.pravatar.cc/150?img=55" class="object-cover absolute rounded-full" alt="">
      </div>
    </div>

  </div>
</div>
