<div class="flex items-center h-16 ml-8 mt-6">
  <div class="h-[80%] rounded-full border-2 border-theme-gray/100 flex items-center gap-4 px-6">
    <span class="material-symbols-rounded text-theme-gray text-3xl">
      search
    </span>
    <input class="scale-105 bg-transparent border-none !outline-none text-theme-text-white" matInput placeholder="eg: Avatar">
    <span class="material-symbols-rounded rotate-90 text-theme-gray text-3xl">
      discover_tune
    </span>
  </div>
  <span class="flex-1"></span>
  <div class="flex items-center justify-center gap-8">
    <div class="relative mt-1">
      <span class=" material-symbols-rounded transform -scale-x-100 text-theme-text-white text-3xl">
        chat
      </span>
      <span class="h-2 w-2 bg-theme-orange rounded-full absolute top-1 left-6"></span>
    </div>
    <div class="relative">
      <span class="material-symbols-rounded text-theme-text-white text-3xl">
        notifications
      </span>
      <span class="h-2 w-2 bg-theme-orange rounded-full absolute top-2 left-[18px]"></span>
    </div>
    <div class="h-12 w-12 rounded-full bg-gradient-to-r from-red-800 to-white flex items-center justify-center">
      <div class="relative h-11 w-11 border-[3px] border-black rounded-full">
        <img src="https://i.pravatar.cc/150?img=55" class="object-cover absolute rounded-full" alt="">
      </div>
    </div>

  </div>
</div>





  <!-- <div class="flex gap-4">
    <span class="material-symbols-rounded rounded-full text-theme-gray active:text-theme-text-white active:ring-2 active:ring-theme-text-white no-selection">
      chevron_left
    </span>
    <span class="material-symbols-rounded rounded-full text-theme-gray active:text-theme-text-white active:ring-2 active:ring-theme-text-white no-selection">
      chevron_right
    </span>
  </div> -->
